<app-top-content title="Umweltrechner" [map]="{title:'Rundum mobil / Preis- und Umweltvergleich',link:'#'}">
  <h2>Umwelt und Preisvergleich zwischen VVS und Deinem Auto</h2>
</app-top-content>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <app-slide-box [slides]="slides"></app-slide-box>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <app-route-box></app-route-box>
      </div>
    </div>
  </div>
</div>
