.container{
  margin-top:-50px;
  display: flex;
  width: 100%;
}
.container > *{
  flex-grow: 1;
}
h2{
  margin: 12px 0 0;
  font-family: CircularStdBook;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
@media (min-width: 576px) {
  h2{
    font-size: 18px;
  }
}
