mat-sidenav-container{
  min-height: 100%;
}
.sidenav-container {
  .sidenav {
    min-height: 100%;
    min-width: 240px;
    a {
      display: block;
      padding: 6px 24px;
      width: 100%;
      text-align: left;
    }
  }
  main {
    padding: 18px 24px;
  }
}
